#logo {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 20px;
}

.flight-card-component{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight-card{
    width: 50%;
    margin: 0px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

@media only screen and (max-width: 768px) {

    .flight-card {
        width: 80%;
    }

}

.book-button{
    background-color: #c46329 !important;
    border-color: #c46329 !important;
    width: 80%;
}