#logo {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 20px;
}

.flight-card-component{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight-card{
    width: 40%;
    margin: 0px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.book-button{
    background-color: #c46329 !important;
    border-color: #c46329 !important;
}