.user-profile-component{
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.user-profile-title{
    width: 100%;
    background-color:rgb(241, 241, 241);
    margin: 0 auto;
    padding: 10px;
    display:run-in;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.user-profile-item{
    padding: 10px;

}